@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
  --font-rounded: 'SF Pro Rounded', system-ui, sans-serif;
  --font-serif: Georgia, serif;
}
